---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayouts from "../layouts/MainLayouts.astro";


---
<MainLayouts title="About">
    
    <h1>About</h1>

    <CustomTitle title="This is a title"> </CustomTitle>

</MainLayouts>

<!-- Este estilo solo esta en mi componente, pero si le agrego la directiva is:global es para todos los componet que importo tambien-->
<!-- <style is:global> -->

<style>
    h1{
        color:red
    }
</style>
